@{
    Layout = "_Layout";
}

<div class="container mt-3">
    <nav>
        <a asp-area="Admin" asp-controller="Users" asp-action="Index">Dashboard</a> |
        <a asp-area="Admin" asp-controller="Users" asp-action="Manage">Manage</a> |
        <a asp-area="Admin" asp-controller="Users" asp-action="Rights">Rights & Obligations</a> |
        <a asp-controller="Home" asp-action="Index">View Site</a>
    </nav>

    <hr />

    @RenderBody()
</div>