@{
    Layout = "_Layout";
}

<div class="container mt-3">
    <nav>
        <a asp-area="Airlines" asp-controller="Flights" asp-action="Index">Dashboard</a> |
        <a asp-area="Airlines" asp-controller="Flights" asp-action="Manage">Manage</a> |
        <a asp-area="Airlines" asp-controller="Flights" asp-action="Regulation">Regulation</a> |
        <a asp-controller="Home" asp-action="Index">View Site</a>
    </nav>

    <hr />

    @RenderBody()
</div>